.deleteBtn {
  width: 95%;
  height: 95%;
  border-radius: 100%;
  font-size: 1vw;
  background-color: #dfb2b2;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.deleteBtn:hover {
  background-color: #ed0000;
}
.deleteBtn:active {
  background-color: #a70000 !important;
}
.deleteBtn:disabled {
  background-color: #a4a4a4;
  pointer-events: none;
}

.editBtn {
  width: 90%;
  height: 80%;
  margin: 7% 7% 7% 7%;
  font-size: 0.9vw;
  outline: none;
  border: none;
  border-radius: 20%;
  text-decoration: none;
  color: #252525;
  background-color: #6d9cee;
  box-shadow: 0 2px #1d62c2;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.editBtn:hover {
  background-color: #2e4ecf;
}
.editBtn:active {
  background-color: #1e0599 !important;
}
.editBtn:focus-visible {
  box-shadow: 0 0 0 3px lightskyblue;
}
.editBtn:disabled {
  background-color: #abacad;
  pointer-events: none;
}

.infoBtn {
  width: 90%;
  height: 80%;
  margin: 7% 7% 7% 7%;
  font-size: 0.9vw;
  outline: none;
  border: none;
  border-radius: 20%;
  text-decoration: none;
  color: #181818;
  background-color: #d2ee6d;
  box-shadow: 0 2px #4c5201;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.infoBtn:hover {
  background-color: #cccf2e;
}
.infoBtn:active {
  background-color: #998f05 !important;
}

.modalBtn {
  width: 40%;
  height: 50%;
  font-weight: bold;
  margin: 1% 5% 1% 5%;
  font-size: 1vw;
  outline: none;
  border-radius: 20%;
  text-decoration: none;
  color: #181818;
  background-color: #a9ad9d;
  box-shadow: 0 2px #2c2c2c;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.modalBtn:hover {
  background-color: #7e7e71;
}
.modalBtn:active {
  background-color: #e6e6d4 !important;
  border-color: #000000;
}

.logBtn {
  margin: 0;
  padding: 1rem;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 10%;
  text-decoration: underline;
  color: #1d1d1d;
  background-color: #a9ad9d;
  box-shadow: 0 2px #2c2c2c;
  cursor: pointer;
}
.logBtn:hover {
  background-color: #7e7e71;
}
.logBtn:active {
  background-color: #e6e6d4 !important;
  border-color: #000000;
}

.addBtn {
  position: fixed;
  right: 1%;
  bottom: 0.2%;
  margin: 0;
  padding: 0.2rem;
  font-size: 01vw;
  border-radius: 10%;
  color: #ffffff;
  background-color: #138509;
  cursor: pointer;
}
.addBtn:hover {
  background-color: #0eac05;
}
.addBtn:active {
  background-color: #025a02 !important;
  border-color: #000000;
}
