* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  margin: 0;
}

time {
  color: #140720;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2%;
  text-align: left;
  border-top: 2px solid #d8d8d8;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  padding: 10px 10px;
  background-color: #242424;
  color: #d8d8d8;
}
