.info {
    min-height: 640px;
    margin: 4% 2% 3% 2%;
    background-color: rgba(226, 238, 160, 1);
    padding: 1rem;
    border: 3px solid #e8ec00;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .heading
  {
    position: fixed;
    top: 10%;
    right: 5%;
    font-style: italic;
    font-size: 2vw;
  }